@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@font-face {
  font-family: "fontello";
  src: url("font/fontello.eot?78557957");
  src: url("font/fontello.eot?78557957#iefix") format("embedded-opentype"),
    url("font/fontello.woff2?78557957") format("woff2"),
    url("font/fontello.woff?78557957") format("woff"),
    url("font/fontello.ttf?78557957") format("truetype"),
    url("font/fontello.svg?78557957#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\f16d";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./images/sunset_set_1.png);
  background-color: #d9d9d9;
  font-weight: 500;
  margin: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #556273;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.navbar a {
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  color: #f2f2f2;
  padding: 1rem 1.5rem;
  transition: all ease-in-out 0.3s;
  border-radius: 20px;
}

.navbar a:hover {
  transform: scale(1.1);
  background-color: #f2f2f2;
  color: #8a99a6;
  font-weight: 600;
}

nav #logo {
  font-family: "Dancing Script", cursive;
  font-size: 1.2rem;
}
nav #logo:hover {
  transform: scale(1);
  background-color: #f2f2f2;
  color: #8a99a6;
}

nav #logox {
  visibility: hidden;
}
.navbar a #insta_logo {
  width: 10px;
  height: 10px;
}
#logoinsta:hover {
  color: black;
  font-weight: 600;
}
.container {
  display: flex;
  width: 100%;
  text-align: center;
  font-family: "Dancing Script", cursive;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container h1 {
  background-color: #556273;
  padding: 0.4rem;
  border-radius: 1rem;
  display: inline;
  color: white;
  font-size: 1rem;
  font-family: "Dancing Script", cursive;
  letter-spacing: 1.5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
div #yorum {
  font-size: 1rem;
  background-color: #556273;
  padding: 0.4rem;
  border-radius: 1rem;
  display: inline;
  color: white;
  letter-spacing: 1.5px;
  font-family: "Dancing Script", cursive;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.header {
  max-width: 75%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  font-weight: 450;
  font-family: "Dancing Script", cursive;
}
.comment {
  font-family: "Dancing Script", cursive;
  max-width: 75%;
  padding: 50px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin: 1rem;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items:center; */
    text-align: center;
  }
  .header {
    text-align: center;
    display: inline-block;
  }
  #logox {
    display: none;
  }
}
